<!DOCTYPE html>
<body>
    <h1>Webapp Training</h1>

    <div id="vm_info">
        <h3>VM Info</h3>
        <span>VM Name: </span>
        <span id="vm_name">test</span>
        <br>
        
        <span>OS Username: </span>
        <span id="os_user">testUser</span>
        <br>

        <span>OS Password: </span>
        <span id="os_pass">testPass</span>
        <br><br>
    </div>

    <div id="form">
        <form>
            <label for="user">Webapp Username: </label>
            <input type="text" id="user">
            <br><br>
            
            <label for="pass">Webapp Password: </label>
            <input type="text" id="pass">
            <br><br>
            
            <label for="path">Webapp Config Path: </label>
            <input type="text" id="path">
            <br><br>

            <input type="submit" value="Check Answers">

        </form>
    </div>

</body>